<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ "./assets/favicon.ico " | relative_url }}"/>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <link rel="stylesheet" href="//at.alicdn.com/t/font_1674032_ock2bes9o9.css">
    
    <link rel="stylesheet" href="{{ "./dist/ui.css " | relative_url }}">
    <link rel="stylesheet" href="{{ "./css/page.css " | relative_url }}">
    <script src="{{ "./dist/ui.js " | relative_url }}"></script>
</head>

