// scss-lint:disable ColorVariable

$bg: #fafbfd;

$color-bg: #7ea6b8;
$color-bg-dark: #517791;
$color-bg-light: #c0d2db;
$color-light: #f7f8fa;

body {
  background: $bg;
  min-width: 800px;
}

::-moz-selection {
  background: $color-bg;
  color: #fff;
}

::selection {
  background: $color-bg;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba($color-bg-light, .1), rgba($color-bg-light, .7));
  // background-color: rgba($color-bg-light, .7);
  border-radius: 30px;
}

.page-wrap {
  display: flex;
}

.page-side {
  min-width: 150px;
  background: #fff;
}

.page-main {
  flex: 1;
  padding-right: 20px;

  h1 {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f2f3;
  }
  
  h1:after {
    position: absolute;
    content: '';
    left: -30px;
    height: 42px;
    width: 42px;
    background-image: url(./leaf.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
  }
  
  h2 {
    margin-top: 40px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f3;
  }
  
  h2:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $color-bg-light;
  }
  
  h2:after {
    content: '';
    position: absolute;
    left: -17px;
    top: 13px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: $color-bg-dark;
  }

  h3 {
    margin-top: 40px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f3;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1em;
  }

  blockquote {
    margin: 10px 0;
    padding: 8px 10px;
    background: #fafbfc;
    color: #555;
    font-size: 13px;
    border-left: 2px solid $color-bg;

    a {
      color: #0d47a1;
    }
  }
}

.page-nav {
  position: fixed;
  height: 100vh;
  width: 150px;
  padding: 20px 0;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  overflow-y: auto;
  background: $bg;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    padding-left: 30px;
    width: 120px;
    line-height: 2.7;
    font-size: 13px;
  }

  .active {
    position: relative;
    border-radius: 20px 0 0 20px;

    a {
      color: #1f253a;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #a5adc6;
  }

  a:hover span {
    color: #a5adc6;
  }

  .active a:hover span {
    color: #1f253a;
  }
}

.page-avatar {
  height: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;

  svg {
    max-height: 100%;
    max-width: 100%;
  }
}

.page-code {
  width: 80%;
  min-height: 90vh;
  padding: 40px 80px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(#e8edf6, .45);
  background-color: #fff;
}

@media screen and (max-width: 1300px) {
  body:after {
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    transform: translate(0, 0);
  }

  .page-code {
    padding-right: 60px;
    padding-left: 60px;
  }
}

main {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-menu-wrap {
  flex: 1;
  background: rgba($color-bg-light, .2);
  border-radius: 0 10px 10px 0;
  margin-left: -20px;
}

@media screen and (max-width: 1200px) {
  .page-code {
    width: 100%;
  }

  .page-menu-wrap {
    display: none;
  }
}

.page-menu {
  position: sticky;
  top: 80px;
  line-height: 2.4;
  margin-left: 40px; 
}

.bd-example {
  margin-bottom: 20px;
}

.highlight pre,
pre.highlight {
  margin: 40px 0;
  line-height: 1.8;
  background: #fafbfc;
  border-radius: 5px;
  -webkit-font-smoothing: auto;
}

pre,
code {
  font-family: Menlo, Consolas, Inconsolata, monospace, sans-serif !important;
}

pre.highlight,
.highlight pre {
  padding: 15px;
  border-radius: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow-x: auto;
}

code.highlighter-rouge {
  margin: 0 3px;
  padding: 0 4px;
  border: 1px solid #ebebeb;
  color: #4271ae;
}

.page-need-css,
.page-need-js {
  height: 30px;
  width: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  background: $color-bg-light;
  opacity: .6;
  z-index: 1;
}

.page-need-css:after,
.page-need-js:after {
  position: absolute;
  color: #fff;
  font-weight: 700;
  right: 2px;
  bottom: 2px;
  line-height: 1;
}

.page-need-css:after {
  content: 'Css';
  font-size: 15px;
}

.page-need-js:after {
  content: 'Js';
  font-size: 20px;
}

table:not(.ui-table) {
  width: 100%;
  margin-bottom: 20px;

  thead {
    th {
      padding: 10px;
      background: $color-light;
    }
  }

  tr {
    td {
      padding: 10px;
      border: 1px solid #f1f2f3 {
        left: 0;
        right: 0;
      };
    }
  }
}

.page-ul {
  line-height: 2;

  li {
    padding-left: 16px;
    position: relative;
  }

  li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 11px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: $color-bg-light;
  }
}

.highlight {
  .hll {
    background-color: #efefef;
  }

  .c {
    color: #929292;
  }

  .err {
    background: #c82829;
    color: #fff;
  }

  .k {
    color: #8959a8;
  }

  .l {
    color: #f5871f;
  }

  .n {
    color: #929292;
  }

  .o {
    color: #545454;
  }

  .p {
    color: #929292;
  }

  .cm {
    color: #929292;
  }

  .cp {
    color: #929292;
  }

  .c1 {
    color: #929292;
  }

  .cs {
    color: #929292;
  }

  .gd {
    color: #c82829;
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: #545454;
    font-weight: bold;
  }

  .gi {
    color: #718c00;
  }

  .gp {
    color: #718c00;
    font-weight: bold;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #3e999f;
    font-weight: bold;
  }

  .kc {
    color: #8959a8;
  }

  .kd {
    color: #8959a8;
  }

  .kn {
    color: #3e999f;
  }

  .kp {
    color: #4271ae;
  }

  .kr {
    color: #8959a8;
  }

  .kt {
    color: #eab700;
  }

  .ld {
    color: #718c00;
  }

  .m {
    color: #f5871f;
  }

  .s {
    color: #718c00;
  }

  .na {
    color: #4271ae;
  }

  .nb {
    color: #4271ae;
  }

  .nc {
    color: #eab700;
  }

  .no {
    color: #eab700;
  }

  .nd {
    color: #3e999f;
  }

  .ni {
    color: #545454;
  }

  .ne {
    color: #c82829;
  }

  .nf {
    color: #4271ae;
  }

  .nl {
    color: #545454;
  }

  .nn {
    color: #eab700;
  }

  .nx {
    color: #4271ae;
  }

  .py {
    color: #545454;
  }

  .nt {
    color: #3e999f;
  }

  .nv {
    color: #c82829;
  }

  .ow {
    color: #3e999f;
  }

  .w {
    color: #545454;
  }

  .mf {
    color: #f5871f;
  }

  .mh {
    color: #f5871f;
  }

  .mi {
    color: #f5871f;
  }

  .mo {
    color: #f5871f;
  }

  .sb {
    color: #718c00;
  }

  .sc {
    color: #545454;
  }

  .sd {
    color: #929292;
  }

  .s2 {
    color: #718c00;
  }

  .se {
    color: #f5871f;
  }

  .sh {
    color: #718c00;
  }

  .si {
    color: #f5871f;
  }

  .sx {
    color: #718c00;
  }

  .sr {
    color: #718c00;
  }

  .s1 {
    color: #718c00;
  }

  .ss {
    color: #718c00;
  }

  .bp {
    color: #545454;
  }

  .vc {
    color: #c82829;
  }

  .vg {
    color: #c82829;
  }

  .vi {
    color: #c82829;
  }

  .il {
    color: #f5871f;
  }
}

.ui-tab-content {
  .tab-content:not(.show) {
    display: none;
  }
}
