
body {
  background: #fff;
}

:root {
  --color-bg: #7ea6b8;
  --color-bg-dark: #517791;
  --color-bg-light: #c0d2db;
  --color-light: #fafbfc;
}

body:after {
  content: '';
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  border-radius: 20px;
  box-shadow: 0 0 0 150px #f5f5fb;
  pointer-events: none;
  z-index: 12;
}

::-moz-selection {
  background: var(--color-bg);
  color: #fff;
}

::selection {
  background: var(--color-bg);
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,rgba(255, 255, 255, .3), #fafbfc);
  border-radius: 30px;
}

.page-wrap {
  display: flex;
  padding: 60px;
}

.page-side {
  min-width: 150px;
}

.page-main {
  flex: 1;
  padding: 20px 80px;
}

.page-nav {
  padding: 20px 0 20px 10px;
  position: fixed;
  height: calc(100vh - 120px);
  font-family: Raleway, sans-serif;
  font-weight: 500;
  overflow-y: auto;
  /* background: var(--color-bg); */
  background: var(--color-light);
  border-radius: 20px;
}

.page-avatar {
  height: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

.page-avatar svg {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1300px) {
  body:after {
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    transform: translate(0, 0);
  }

  .page-wrap {
    display: flex;
    padding: 20px;
  }

  .page-nav {
    height: calc(100vh - 40px);
  }
}

.page-nav li {
  padding-left: 20px;
  width: 120px;
  line-height: 2.7;
  font-size: 13px;
}

.page-nav li.active {
  position: relative;
  border-radius: 20px 0 0 20px;
  background: #fff;
}

.page-nav li.active:after {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 0 0 20px 0;
  position: absolute;
  right: 0;
  top: -20px;
  background: var(--color-light);
  pointer-events: none;
}

.page-nav li.active:before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: -20px;
  background: #fff;
  pointer-events: none;
}

.page-nav li.active a:after {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 0 20px 0 0;
  position: absolute;
  right: 0;
  bottom: -20px;
  background: var(--color-light);
  pointer-events: none;
}

.page-nav li.active a:before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: -20px;
  background: #fff;
  pointer-events: none;
}

.page-nav a {
  display: block;
  text-decoration: none;
  color: #67757e;
}

.page-nav a:hover span {
  color: #67757e;
}

.page-nav .active a:hover span {
  color: #517791;
}

.page-nav .active a {
  color: #517791;
}

.page-main h1 {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f2f3;
}

.page-main h1:after {
  position: absolute;
  content: '';
  left: -30px;
  height: 42px;
  width: 42px;
  background-image: url(./leaf.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.page-main h2 {
  margin-top: 40px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f2f3;
}

.page-main h2:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--color-bg-light);
}

.page-main h2:after {
  content: '';
  position: absolute;
  left: -17px;
  top: 13px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: var(--color-bg-dark);
}

.page-main h1,
.page-main h2,
.page-main h3,
.page-main h4,
.page-main h5 {
  margin-bottom: 1em;
}

main {
  position: relative;
}

.page-code {
  padding-right: 100px;
}

/* code */

.item-title {
  text-transform: capitalize;
}

.bd-example {
  margin-bottom: 20px;
}

.highlight pre,
pre.highlight {
  margin: 40px 0;
  border-radius: 4px;
  line-height: 1.8;
  background: #fafbfc;
  border-radius: 5px;
  -webkit-font-smoothing: auto;
  border-left: 2px solid var(--color-bg);
}

pre,
code {
  font-family: Menlo, Consolas, Inconsolata, monospace, sans-serif !important;
}

.fa-clone {
  float: right;
  padding: 0 10px;
  line-height: 2;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  cursor: pointer;
  color: #666;
  background: #fafbfc;
  border-top-right-radius: 4px;
}

pre.highlight,
.highlight pre {
  padding: 15px;
  border-radius: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow-x: auto;
}

code.highlighter-rouge {
  margin: 0 3px;
  padding: 0 4px;
  border: 1px solid #ebebeb;
  color: #4271ae;
}

.page-main blockquote {
  margin: 10px 0;
  padding: 8px 10px;
  background: #fafbfc;
  color: #555;
  font-size: 13px;
  border-left: 2px solid var(--color-bg);
}

.page-main blockquote a {
  color: #0d47a1;
}

.page-need-css,
.page-need-js {
  height: 30px;
  width: 30px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  background: var(--color-bg-light);
  opacity: .6;
  z-index: 1;
}

.page-need-css {
  right: 0;
}

.page-need-css:after {
  content: 'Css';
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  right: 2px;
  bottom: 2px;
  line-height: 1;
}

.page-need-js {
  right: 40px;
}

.page-need-js:after {
  content: 'Js';
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  right: 2px;
  bottom: 2px;
  line-height: 1;
}

/* highlight*/

.highlight .hll {
  background-color: #272822;
}
.highlight .c {
  color: #75715e;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #66d9ef;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #f8f8f2;
} /* Name */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .p {
  color: #f8f8f2;
} /* Punctuation */
.highlight .cm {
  color: #75715e;
} /* Comment.Multiline */
.highlight .cp {
  color: #75715e;
} /* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
} /* Comment.Special */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
} /* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
} /* Name.Class */
.highlight .no {
  color: #66d9ef;
} /* Name.Constant */
.highlight .nd {
  color: #a6e22e;
} /* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #a6e22e;
} /* Name.Function */
.highlight .nl {
  color: #f8f8f2;
} /* Name.Label */
.highlight .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #f8f8f2;
} /* Name.Property */
.highlight .nt {
  color: #f92672;
} /* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
} /* Operator.Word */
.highlight .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */

.highlight .gu {
  color: #75715e;
} /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672;
} /* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted & Diff Inserted */

.highlight .hll {
  background-color: #efefef;
}

.highlight .c {
  color: #929292;
}

.highlight .err {
  background: #c82829;
  color: #ffffff;
}

.highlight .k {
  color: #8959a8;
}

.highlight .l {
  color: #f5871f;
}

.highlight .n {
  color: #929292;
}

.highlight .o {
  color: #545454;
}

.highlight .p {
  color: #929292;
}

.highlight .cm {
  color: #929292;
}

.highlight .cp {
  color: #929292;
}

.highlight .c1 {
  color: #929292;
}

.highlight .cs {
  color: #929292;
}

.highlight .gd {
  color: #c82829;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gh {
  color: #545454;
  font-weight: bold;
}

.highlight .gi {
  color: #718c00;
}

.highlight .gp {
  color: #718c00;
  font-weight: bold;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #3e999f;
  font-weight: bold;
}

.highlight .kc {
  color: #8959a8;
}

.highlight .kd {
  color: #8959a8;
}

.highlight .kn {
  color: #3e999f;
}

.highlight .kp {
  color: #4271ae;
}

.highlight .kr {
  color: #8959a8;
}

.highlight .kt {
  color: #eab700;
}

.highlight .ld {
  color: #718c00;
}

.highlight .m {
  color: #f5871f;
}

.highlight .s {
  color: #718c00;
}

.highlight .na {
  color: #4271ae;
}

.highlight .nb {
  color: #4271ae;
}

.highlight .nc {
  color: #eab700;
}

.highlight .no {
  color: #eab700;
}

.highlight .nd {
  color: #3e999f;
}

.highlight .ni {
  color: #545454;
}

.highlight .ne {
  color: #c82829;
}

.highlight .nf {
  color: #4271ae;
}

.highlight .nl {
  color: #545454;
}

.highlight .nn {
  color: #eab700;
}

.highlight .nx {
  color: #4271ae;
}

.highlight .py {
  color: #545454;
}

.highlight .nt {
  color: #3e999f;
}

.highlight .nv {
  color: #c82829;
}

.highlight .ow {
  color: #3e999f;
}

.highlight .w {
  color: #545454;
}

.highlight .mf {
  color: #f5871f;
}

.highlight .mh {
  color: #f5871f;
}

.highlight .mi {
  color: #f5871f;
}

.highlight .mo {
  color: #f5871f;
}

.highlight .sb {
  color: #718c00;
}

.highlight .sc {
  color: #545454;
}

.highlight .sd {
  color: #929292;
}

.highlight .s2 {
  color: #718c00;
}

.highlight .se {
  color: #f5871f;
}

.highlight .sh {
  color: #718c00;
}

.highlight .si {
  color: #f5871f;
}

.highlight .sx {
  color: #718c00;
}

.highlight .sr {
  color: #718c00;
}

.highlight .s1 {
  color: #718c00;
}

.highlight .ss {
  color: #718c00;
}

.highlight .bp {
  color: #545454;
}

.highlight .vc {
  color: #c82829;
}

.highlight .vg {
  color: #c82829;
}

.highlight .vi {
  color: #c82829;
}

.highlight .il {
  color: #f5871f;
}
