body {
    background: #f3f5f6;
}

ul, li {
    list-style-type: none;
}

.page-header {
    padding: 5px 0;
    background: #fff;
}

.page-title {
    margin: 0;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
}

.page-layout {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-wrap {
    display: flex;
}

.page-main {
    flex: 1;
}

.page-nav,
.page-main {
    background: #fff;
}

.page-nav li {
    padding-left: 10px;
    line-height: 2.4;
    font-size: 14px;
}

.page-nav li.active {
    border-right: 3px solid #415b64;
}

.page-nav a {
    display: block;
    text-decoration: none;
}

.page-nav {
    width: 200px;
    padding: 20px 0 20px 20px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

.page-nav h4 {
    font-size: 16px;
    font-weight: 400;
}

.page-main {
    padding: 20px 100px 100px;
    margin-left: 10px;
    min-height: 50vh;
}

main {
    position: relative;
}

.page-main .main > h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #f0f2f4;
}

.page-main .main > h1 {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: Raleway, sans-serif;
}

.page-main .main > h3:first-of-type {
    margin-top: 0;
}

.page-footer {
    padding: 40px 0 20px;
    text-align: center;
    font-size: 12px;
}

/* code */

.item-title {
    text-transform: capitalize;
}

.bd-example {
    margin-bottom: 20px;
}

pre.highlight {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    color: #565656;
}

.fa-clone {
    float: right;
    padding: 0 10px;
    line-height: 2;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    cursor: pointer;
    color: #666;
    background: #fafbfc;
    border-top-right-radius: 4px;
}

pre.highlight,
.highlight pre {
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*height: 0;*/
    padding: 15px;

    transition: opacity .2s;
    border-radius: 2px;
    font-size: 12px;
    white-space: pre-wrap;
    overflow-x: auto;
}

.page-main blockquote {
    margin: 10px 0;
    padding: 8px 10px;
    background: #fafbfc;
    color: #555;
    font-size: 13px;
    border-left: 2px solid #0d47a1;
}

.page-main blockquote a {
    color: #0d47a1;
}


/* highlight*/


.highlight .hll {
    background-color: #EFEFEF
}

.highlight .c {
    color: #929292
}

.highlight .err {
    background: #C82829;
    color: #FFFFFF
}

.highlight .k {
    color: #8959A8
}

.highlight .l {
    color: #F5871F
}

.highlight .n {
    color: #929292
}

.highlight .o {
    color: #545454
}

.highlight .p {
    color: #929292
}

.highlight .cm {
    color: #929292
}

.highlight .cp {
    color: #929292
}

.highlight .c1 {
    color: #929292
}

.highlight .cs {
    color: #929292
}

.highlight .gd {
    color: #C82829
}

.highlight .ge {
    font-style: italic
}

.highlight .gh {
    color: #545454;
    font-weight: bold
}

.highlight .gi {
    color: #718C00
}

.highlight .gp {
    color: #718C00;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #3E999F;
    font-weight: bold
}

.highlight .kc {
    color: #8959A8
}

.highlight .kd {
    color: #8959A8
}

.highlight .kn {
    color: #3E999F
}

.highlight .kp {
    color: #4271AE
}

.highlight .kr {
    color: #8959A8
}

.highlight .kt {
    color: #EAB700
}

.highlight .ld {
    color: #718C00
}

.highlight .m {
    color: #F5871F
}

.highlight .s {
    color: #718C00
}

.highlight .na {
    color: #4271AE
}

.highlight .nb {
    color: #4271AE
}

.highlight .nc {
    color: #EAB700
}

.highlight .no {
    color: #EAB700
}

.highlight .nd {
    color: #3E999F
}

.highlight .ni {
    color: #545454
}

.highlight .ne {
    color: #C82829
}

.highlight .nf {
    color: #4271AE
}

.highlight .nl {
    color: #545454
}

.highlight .nn {
    color: #EAB700
}

.highlight .nx {
    color: #4271AE
}

.highlight .py {
    color: #545454
}

.highlight .nt {
    color: #3E999F
}

.highlight .nv {
    color: #C82829
}

.highlight .ow {
    color: #3E999F
}

.highlight .w {
    color: #545454
}

.highlight .mf {
    color: #F5871F
}

.highlight .mh {
    color: #F5871F
}

.highlight .mi {
    color: #F5871F
}

.highlight .mo {
    color: #F5871F
}

.highlight .sb {
    color: #718C00
}

.highlight .sc {
    color: #545454
}

.highlight .sd {
    color: #929292
}

.highlight .s2 {
    color: #718C00
}

.highlight .se {
    color: #F5871F
}

.highlight .sh {
    color: #718C00
}

.highlight .si {
    color: #F5871F
}

.highlight .sx {
    color: #718C00
}

.highlight .sr {
    color: #718C00
}

.highlight .s1 {
    color: #718C00
}

.highlight .ss {
    color: #718C00
}

.highlight .bp {
    color: #545454
}

.highlight .vc {
    color: #C82829
}

.highlight .vg {
    color: #C82829
}

.highlight .vi {
    color: #C82829
}

.highlight .il {
    color: #F5871F
}