@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutUp {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes slideShortInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideShortInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideShortInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideShortInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideShortOutUp {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideShortOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideShortOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideShortOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutDown {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@keyframes bounceOutLeft {
  0% {
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes bounceOutRight {
  0% {
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }
}

@keyframes lightSpeedOut {
  0% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, .5, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, .5, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .5, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  100% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(42px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(-42px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, .5, .5) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, .5, .5, .9);
  }

  100% {
    opacity: 0;
    transform: scale3d(0.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, .5, .2, 1);
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes typeIn {
  from {
    display: none;
  }

  to {
    display: inline-block;
  }
}

@keyframes typeOut {
  from {
    display: inline-block;
  }

  to {
    display: none;
  }
}

@keyframes typeInCursor {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }

  40% {
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }
}

@keyframes lightSpeedOut {
  0% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutUpTitle {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.flipInX {
  // -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flipInX;
}

.flipInY {
  backface-visibility: visible;
  animation-name: flipInY;
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible;
}

.flipOutY {
  backface-visibility: visible;
  animation-name: flipOutY;
}

.shake {
  animation-name: shake;
}

.bounce {
  animation-name: bounce;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

.fadeOut {
  animation-name: fadeOut;
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

.slideInDown {
  animation-name: slideInDown;
}

.slideInUp {
  animation-name: slideInUp;
}

.slideIn,
.slideInLeft {
  animation-name: slideInLeft;
}

.slideInRight {
  animation-name: slideInRight;
}

.slideShortInDown {
  animation-name: slideShortInDown;
}

.slideShortInUp {
  animation-name: slideShortInUp;
}

.slideShortInLeft {
  animation-name: slideShortInLeft;
}

.slideShortInRight {
  animation-name: slideShortInRight;
}

.slideOutUp {
  animation-name: slideOutUp;
}

.slideOutDown {
  animation-name: slideOutDown;
}

.slideOut,
.slideOutLeft {
  animation-name: slideOutLeft;
}

.slideOutRight {
  animation-name: slideOutRight;
}

.slideShortOutUp {
  animation-name: slideShortOutUp;
}

.slideShortOutDown {
  animation-name: slideShortOutDown;
}

.slideShortOutLeft {
  animation-name: slideShortOutLeft;
}

.slideShortOutRight {
  animation-name: slideShortOutRight;
}

.bounceIn {
  animation-name: bounceIn;
}

.bounceInUp {
  animation-name: bounceInUp;
}

.bounceInDown {
  animation-name: bounceInDown;
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

.bounceInRight {
  animation-name: bounceInRight;
}

.bounceOut {
  animation-name: bounceOut;
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

.rubberBand {
  animation-name: rubberBand;
}

.zoomIn {
  animation-name: zoomIn;
}

.zoomInDown {
  animation-name: zoomInDown;
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

.zoomInRight {
  animation-name: zoomInRight;
}

.zoomInUp {
  animation-name: zoomInUp;
}

.zoomOut {
  animation-name: zoomOut;
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

.do-animate {
  .ui-animate,
  .ui-animate-card .animate-card {
    animation-fill-mode: both;
    animation-duration: 1s;
    visibility: hidden;
  }
}

.no-animate {
  .ui-animate,
  .ui-animate-card .animate-card {
    visibility: visible;
  }
}
