@import "variables";

.ui-path {
  font-size: 12px;
  line-height: 16px;

  a {
    color: $primary;

    &:hover {
      color: rgba($primary, .8);
    }
  }

  span {
    color: $gray;
  }

  .line {
    padding-left: 4px;
    padding-right: 4px;
  }
}

// new
.ui-crumbs {
  font-size: 12px;
  line-height: 1.34;

  a {
    color: $primary;

    &:hover {
      color: rgba($primary, .8);
    }
  }

  span {
    color: $gray;
  }

  ol {
    display: flex;
  }

  li {
    display: inline-flex;

    &:after {
      content: '/';
      color: $gray;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  li:last-child:after {
    display: none;
  }
}
