@import "variables";

.ui-path {
  font-size: 12px;
  line-height: 16px;

  a {
    color: $primary;

    &:hover {
      color: rgba($primary, .8);
    }
  }

  span {
    color: $gray;
  }

  .line {
    padding-left: 4px;
    padding-right: 4px;
  }
}
