@import "variables";

.ui-button {
  display: inline-block;
  height: $button-height;
  padding-left: $button-padding;
  padding-right: $button-padding;
  box-sizing: border-box;
  vertical-align: middle;

  line-height: $button-height - ($button-border-width * 2);
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $button-color;
  text-align: center;
  cursor: pointer;

  border-radius: $button-radius;
  border: $button-border-width $button-border-type $button-border-color;
  background-color: $color-bg-normal;
  
  transition: background $transition-duration;

  /* States */

  &:focus {
    outline: none;
  }

  &:hover {
    color: $button-color;
    border-color: rgba($button-border-color, 0.6);
    background-color: $button-hover;
  }

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;
    color: rgba($button-color, 0.3);
    border-color: rgba($button-border-color, 0.6);
    background-color: $button-disable;
  }

  /* Sizes */

  &.circle {
    width: $button-height;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
    text-align: center;
  }

  &.small {
    height: $button-small-height;
    padding-left: $button-small-padding;
    padding-right: $button-small-padding;
    
    line-height: $button-small-height - ($button-border-width * 2);
    border-radius: $radius;
    font-size: $button-small-font-size;

    &.circle {
      width: $button-small-height;
      padding-left: 0;
      padding-right: 0;
      border-radius: 50%;
    }
  }

  /* Types */

  &.primary {
    color: $white;
    border-color: $color-primary-border;
    background: $primary;

    &:hover {
      color: $white;
      border-color: rgba($color-primary-border, 0.9);
      background-color: rgba($primary, 0.9);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: $white;
      border-color: rgba($color-primary-border, 0.2);
      background-color: rgba($primary, 0.5);
    }
  }

  &.warn {
    color: $red;
    border-color: $red;
    background-color: rgba($red, 0.06);

    &:hover {
      color: $white;
      background: $red;
      border-color: $red;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: rgba($red, 0.5);
      border-color: rgba($red, 0.5);
      background-color: rgba($red, 0.06);
    }
  }

  &.link {
    color: $primary;
  }

  &.line {
    width: 322px;
    padding-left: 0;
    padding-right: 0;
    border: 1px dashed $light;
    background: $white;
    color: $gray;

    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }

  &.border {
    border: 1px solid $button-border-color;
    background: $white;
  }

  &.icon {
    display: inline-flex;
    align-items: center;
    
    // .iconfont {
    //   margin-left: 4px;
    // }
  }

  &.active {
    color: $primary;

    .icon-filter-normal:before { // scss-lint:disable MergeableSelector
      content: '\eb24';
    }
  }

  // no need
  &.loading {
    position: relative;
    color: transparent;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid rgba($white, .4) {
        top-color: $white;
      };

      animation: rotate .5s linear infinite;
    }
  }

  &.block {
    width: 100%;
    display: block;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

