@import "variables";

// button
.ui-button {
  display: inline-block;
  height: $button-height;
  padding-left: $button-padding;
  padding-right: $button-padding;
  line-height: $button-height - ($button-border-width * 2);
  font-size: 14px;
  color: $black;
  vertical-align: middle;
  border-radius: $button-radius;
  border: $button-border-width $button-border-type $light;
  background-color: $color-bg-normal;
  cursor: pointer;
  text-align: center;
  transition: background $transition-duration;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #333;
    border-color: rgba($light, 0.6);
    // background-color: rgba(240, 240, 240, 0.3);
    background-color: #fafafa;
  }

  &.disabled {
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.3);
    border-color: rgba($light, 0.6);
    background-color: #ebebeb;

    &:hover {
      color: rgba(51, 51, 51, 0.3);
      border-color: rgba($light, 0.6);
      background-color: #ebebeb;
    }
  }

  &.small {
    height: $button-small-height;
    padding-left: $button-small-padding;
    padding-right: $button-small-padding;
    line-height: $button-small-height - 2px;
    border-radius: 4px;
    font-size: 12px;
  }

  &.primary {
    color: $color-white;
    background: $primary;
    border-color: #0067bc;

    &:hover {
      color: #fff;
      border-color: rgba(0, 103, 188, 0.9);
      background-color: rgba(0, 122, 223, 0.9);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: #fff;
      border-color: rgba(0, 103, 188, 0.2);
      background-color: rgba(0, 122, 223, 0.5);
    }
  }

  &.warn {
    color: $red;
    border-color: #f55959;
    background-color: rgba(245, 89, 89, 0.06);

    &:hover {
      color: #fff;
      background: $red;
      border-color: $red;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: rgba(245, 89, 89, 0.5);
      border-color: rgba(245, 89, 89, 0.5);
      background-color: rgba(245, 89, 89, 0.06);
    }
  }

  &.active {
    color: $primary;

    .icon-filter-normal:before { // scss-lint:disable MergeableSelector
      content: '\eb24';
    }
  }

  &.line {
    width: 322px;
    padding-left: 0;
    padding-right: 0;
    border: 1px dashed $light;
    background: $color-white;
    color: $gray;

    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }

  &.icon {
    display: inline-flex;
    align-items: center;
    
    .iconfont {
      margin-left: 4px;
    }
  }

  &.loading {
    position: relative;
    color: transparent;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid rgba($color-white, .4) {
        top-color: $color-white;
      };

      animation: rotate .5s linear infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

