@import "variables";

.ui-radio,
.ui-checkbox {
  cursor: pointer;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  input {
    display: none;
  }

  input:checked + .iconfont {
    color: $primary;
  }

  input:disabled,
  input.disabled {
    + .iconfont {
      cursor: not-allowed;
      color: $color-border;
    }

    ~ span {
      cursor: not-allowed;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  input:disabled:checked,
  input.disabled:checked {
    + .iconfont {
      color: rgba($primary, .5);
    }
  }

  .iconfont {
    padding-right: 8px;
    color: $light;
    line-height: 24px;
  }

  span {
    vertical-align: middle;
  }

  &:hover .iconfont,
  &:hover .iconfont {
    color: $primary;
  }
}

.ui-checkbox {
  .iconfont:before {
    content: $checkbox-icon;
  }

  input:checked + .iconfont:before {
    content: $checkbox-checked-icon;
  }

  input:indeterminate + .iconfont:before {
    content: $checkbox-indeterminate-icon;
    color: $primary;
  }
}

.ui-radio {
  .iconfont:before {
    content: $radio-icon;
  }

  input:checked + .iconfont:before {
    content: $radio-checked-icon;
  }
}

input[type="radio"],
input[type="checkbox"] {
  height: 13px;
  width: 13px;
  border: 1px solid $light;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="radio"] {
  border-radius: 50%;
}

// group
.ui-radio-group {
  display: inline-flex;

  input {
    display: none;
  }
  
  label {
    display: inline-block;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 30px;
    border: 1px solid $light;
    margin-right: -1px;
    cursor: pointer;
    user-select: none;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }

  :checked + label {
    border-color: $primary;
    z-index: 1;
    position: relative;
    color: $primary;
  }

  :disabled + label {
    cursor: default;
    color: $form-control-disable-color;
    background-color: $form-control-disable-bg;
    border: solid 1px $form-control-border-disable-color;
  }
  
  &.separate {
    label {
      border-radius: 4px;
      margin-right: 16px;
    }
  }
}
