@import "variables";

.ui-drop {
  position: relative;
  display: inline-block;

  .drop-label {
    height: 24px;
    padding-right: 20px;
    line-height: $line-height;
    cursor: pointer;

    &:after {
      position: absolute;
      right: 0;
      top: 4px;
      @include iconfont;
      content: $drop-icon;
      transition: .2s;
      color: $drop-icon-color;
    }

    &.no-arrow {
      padding-right: 0;
    }

    &.no-arrow:after {
      display: none;
    }
  }

  &.show,
  &:hover {
    position: relative;
    z-index: 10;

    .drop-wrap {
      visibility: visible;
      opacity: 1;
    }

    .drop-label:after {
      transform: rotate(180deg);
    }

    .icon-arrow-down {
      transform: rotate(180deg);
    }
  }

  .drop-wrap {
    padding-top: 4px;
    position: absolute;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s .1s;

    &.center {
      left: 50%;
      transform: translate(-50%, 0);
    }

    &.left {
      right: 0;
      left: auto;
      transform: translate(0, 0);
    }
  }
}

@keyframes dropInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -4px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
