@import "variables";

.ui-form {
  font-size: $font-size;

  .form-group {
    margin-bottom: $form-gap;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    &.line {
      flex-flow: nowrap;
      padding-left: 0;
      border-bottom: 1px solid $color-border;
    }
  }

  .form-label {
    width: $form-label-width - $form-label-margin;
    margin-right: $form-label-margin;

    line-height: $form-control-height;
    text-align: right;
    color: $form-label-color;

    em {
      padding-right: 4px;
      font-family: arial, sans-serif;
      color: $red;
    }

    &.w84 {
      width: 84px;
    }

    &.ft-left {
      text-align: left;
    }
  }

  .form-con {
    .ui-radio,
    .ui-checkbox {
      line-height: $form-control-height;
    }
  }

  .line {
    .form-label {
      text-align: left;
    }

    .form-con {
      flex-grow: 1;
    }
  }

  .con-text {
    line-height: $form-control-height;
  }

  .select-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}

/* Control */ 
.ui-form-control {
  padding: $form-control-padding-v $form-control-padding-h;
  min-height: $form-control-height;
  width: $form-control-width;
  max-width: 100%;
  box-sizing: border-box;

  font-size: $font-size;
  line-height: $form-control-height - $form-control-padding-v * 2 - 2px;
  
  border: 1px solid $form-control-border-color;
  border-radius: $form-control-radius;
  vertical-align: middle;
  transition: border $transition-duration, box-shadow $transition-duration;

  &.transparent {
    border: 0 none;
    padding-left: 0;

    &.active,
    &:focus {
      box-shadow: none;
    }
  }

  /* Placeholder */
  // scss-lint:disable all
  &::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }

  &:-moz-placeholder {
    color: $form-placeholder-color;
  }

  &::-moz-placeholder{
   color: $form-placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $form-placeholder-color;
  }
  // scss-lint:enable all

  /* States */
  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
  }

  &.active,
  &:focus:not(:read-only) {
    outline: none;
    border-color: $primary;
    box-shadow: $form-control-active-shadow;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    cursor: default;
    background-color: $form-control-disable-bg;
    border: solid 1px $form-control-border-disable-color;
  }

  &.error {
    border-color: $form-control-error-color;
    box-shadow: $form-control-error-shadow;
  }
}

textarea.ui-form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.error + .ui-select:not(.ui-select-active) {
  border-color: $form-control-error-color;
  box-shadow: $form-control-error-shadow;
}


// validate
.ui-control-wrap {
  position: relative;

  &.loading {
    &:after {
      content: "";
      position: absolute;
      right: 7px;
      top: 50%;
      margin-top: -7px;
      box-sizing: border-box;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: radial-gradient($white, $white 63%, transparent 64%),
        linear-gradient(to top, rgba($primary, .3), $white) 50px 0 no-repeat,
        linear-gradient(to top, rgba($primary, .3), $primary) 0 0;

      animation: rotate .5s linear infinite;
    }
  }
}

.v-error-tip {
  position: absolute;
  left: $form-control-error-left;
  bottom: -$form-gap;
  height: $form-gap;
  color: $red;
  line-height: $form-gap;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  white-space: nowrap;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}


