@import "variables";

.ui-form {
  font-size: 14px;

  .form-group {
    margin-bottom: 22px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  .form-label {
    width: 114px - 8px;
    margin-right: 8px;
    text-align: right;
    line-height: $form-control-height;
    color: $gray;

    em {
      padding-right: 4px;
      font-family: arial, sans-serif;
      color: $red;
    }

    &.w84 {
      width: 84px;
    }

    &.ft-left {
      text-align: left;
    }
  }

  .form-con {
    .ui-radio,
    .ui-checkbox {
      line-height: $form-control-height;
    }
  }

  .con-text {
    line-height: $form-control-height;
  }

  .select-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}

// form control
.ui-form-control {
  padding: $form-control-padding-v $form-control-padding-h;
  width: $form-control-width;
  box-sizing: border-box;
  font-size: 14px;
  line-height: $form-control-height - $form-control-padding-v * 2 - 2;
  min-height: $form-control-height;
  border: 1px solid $form-control-border-color;
  border-radius: $form-control-radius;
  vertical-align: middle;
  transition: border $transition-duration, box-shadow $transition-duration;
  max-width: 100%;

  // scss-lint:disable all
  &::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }

  &:-moz-placeholder {
    color: $form-placeholder-color;
  }

  &::-moz-placeholder{
   color: $form-placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $form-placeholder-color;
  }
  // scss-lint:enable all

  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
  }

  &.active,
  &:focus:not(:read-only) {
    outline: none;
    border-color: $primary;
    box-shadow: $form-control-active-shadow;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $form-control-disable-bg;
    cursor: default;
    border: solid 1px rgba(204, 204, 204, 0.6);
  }

  &.error {
    border-color: $form-control-error-color;
    box-shadow: $form-control-error-shadow;
  }
}

textarea.ui-form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.error + .ui-select:not(.ui-select-active) {
  border-color: $form-control-error-color;
  box-shadow: $form-control-error-shadow;
}

// enter count
.ui-enter-count {
  display: inline-block;
  position: relative;

  .ui-form-control {
    padding-right: 50px;
  }

  .count {
    position: absolute;
    right: 10px;
    bottom: 0;
    line-height: $form-control-height;
    color: $light;
    font-size: 12px;
  }
}

//checkbox radio
.ui-radio,
.ui-checkbox {
  cursor: pointer;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  input {
    display: none;
  }

  input:checked + .iconfont {
    color: $primary;
  }

  input:disabled,
  input.disabled {
    + .iconfont {
      cursor: not-allowed;
      color: $color-border;
    }

    ~ span {
      cursor: not-allowed;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  input:disabled:checked,
  input.disabled:checked {
    + .iconfont {
      color: rgba($primary, .5);
    }
  }

  .iconfont {
    padding-right: 8px;
    color: $light;
    line-height: 24px;
  }

  span {
    vertical-align: middle;
  }

  &:hover .iconfont,
  &:hover .iconfont {
    color: $primary;
  }
}

.ui-checkbox {
  .iconfont:before {
    content: '\eb34';
  }

  input:checked + .iconfont:before {
    content: "\eb35";
  }

  input:indeterminate + .iconfont:before {
    content: '\eb33';
    color: $primary;
  }
}

.ui-radio {
  .iconfont:before {
    content: '\eb0e';
  }

  input:checked + .iconfont:before {
    content: "\eb11";
  }
}

input[type="radio"],
input[type="checkbox"] {
  height: 13px;
  width: 13px;
  border: 1px solid $light;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="radio"] {
  border-radius: 50%;
}

// group
.ui-radio-group {
  display: inline-flex;

  input {
    display: none;
  }
  
  label {
    display: inline-block;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin-right: -1px;
    cursor: pointer;
    user-select: none;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }

  :checked + label {
    border-color: $primary;
    z-index: 1;
    position: relative;
    color: $primary;
  }
}

// validate
.ui-control-wrap {
  position: relative;

  &.loading {
    &:after {
      content: "";
      position: absolute;
      right: 7px;
      top: 50%;
      margin-top: -7px;
      box-sizing: border-box;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: radial-gradient(#fff, #fff 63%, transparent 64%),
        linear-gradient(to top, rgba($primary, .3), #fff) 50px 0 no-repeat,
        linear-gradient(to top, rgba($primary, .3), $primary) 0 0;

      animation: rotate .5s linear infinite;
    }
  }
}

.v-error-tip {
  position: absolute;
  left: 12px;
  bottom: -22px;
  height: 22px;
  color: $red;
  line-height: 22px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  white-space: nowrap;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.w160 {
  width: 160px !important;
}

