.ui-row {
  display: flex;
  flex-flow: row wrap;

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
  }
  
  .col-3 {
    width: calc((100% - 32px) / 3);
    margin-right: 16px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .right {
    margin-left: auto;
  }

  .flex1 {
    flex: 1;
  }
}

.ui-column {
  display: flex;
  flex-direction: column;

  .ui-box:last-child {
    flex-grow: 1;
  }
}

.between {
  justify-content: space-between;
}

.stretch {
  flex-grow: 1;
}
