.ui-row {
  display: flex;
  flex-flow: row wrap;

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
  
  .col-3 {
    width: calc((100% - #{$grid-gap * 2}) / 3);
    margin-right: $grid-gap;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .col {
    margin-right: $grid-gap;

    &:last-child {
      margin-right: 0;
    }

    .ui-form-control {
      width: 100%;
    }
  }

  .right {
    margin-left: auto;
  }

  .flex1 {
    flex: 1;
  }

  .flex2 {
    flex: 2;
  }

  .flex3 {
    flex: 3;
  }

  @for $i from 3 through 6 {
    .col-1-#{$i} {
      width: calc((100% - #{($i - 1) * $grid-gap}) / #{$i});
      margin-right: $grid-gap;
    }
  }

  [class*="col-1-"]:last-child {
    margin-right: 0;
  }
}

.ui-column {
  display: flex;
  flex-direction: column;

  .ui-box:last-child {
    flex-grow: 1;
  }
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.stretch {
  flex-grow: 1;
}
