@import "variables";

$normal-avatar: 80px;
$small-avatar: 32px;

.ui-avatar {
  height: $normal-avatar;
  width: $normal-avatar;
  border-radius: 50%;
  overflow: hidden;
  background: $gray;

  .small {
    height: $small-avatar;
    width: $small-avatar;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.ui-crop {
  $box-color: #e3e4e5;
  width: 300px;
  position: relative;
  border: 1px solid $box-color;
  overflow: hidden;

  .img-wrap {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 0 50px rgba(#fff, .5) inset;
    cursor: move;

    &:before {
      content: "";
      position: absolute;
      height: 200px;
      width: 200px;
      left: 50px;
      top: 50px;
      border: 1px solid $box-color;
    }
  }
}
