@import "variables";

/* Enter count */
.ui-enter-count {
  display: inline-block;
  position: relative;

  .ui-form-control {
    padding-right: 50px;
  }

  .count {
    position: absolute;
    right: 10px;
    bottom: 0;
    line-height: $form-control-height;
    color: $light;
    font-size: 12px;
  }
}

/* icon input */
.ui-icon-input {
  position: relative;
  width: $form-control-width;
  max-width: 100%;
  display: inline-flex;  
  align-items: center;
  
  border: 1px solid $form-control-border-color;
  border-radius: $form-control-radius;
  vertical-align: middle;
  transition: border $transition-duration, box-shadow $transition-duration;

  &:hover {
    border-color: $primary;
  }

  &:focus-within, // ie not support
  &.active {
    outline: none;
    border-color: $primary;
    box-shadow: $form-control-active-shadow;
  }

  &.disabled,
  &.disabled:hover {
    border-color: $form-control-border-disable-color;
    background-color: $form-control-disable-bg;
  }
  
  .ui-form-control {
    flex: 1;
    border: 0 none !important;
    min-height: $form-control-height - 2px;
    min-width: 10px;

    &:focus {
      box-shadow: none;
    }
  }

  .prefix {
    line-height: 1;
    padding-left: $form-control-padding-h;
  }

  .suffix {
    line-height: 1;
    padding-right: $form-control-padding-h;
  }

  .iconfont {
    color: $form-control-icon-color;
  }

  .spin-button {
    width: 32px;
    height: $form-control-height - 2px;
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid $form-control-border-color;
  }

  .step-up,
  .step-down {
    flex: 1;
    line-height: ($form-control-height - 2px) / 2;
    text-align: center;
    cursor: pointer;
    color: $form-control-border-color;

    &:hover {
      color: $primary;
    }

    &:before {
      content: $icon-angle-down;
      @include iconfont;
    }
  }

  .step-up:before {
    content: $icon-angle-up;
  }

  .step-up:before,
  .step-down:before {
    line-height: ($form-control-height - 2px) / 2;
  }

  .step-up {
    border-bottom: 1px solid $form-control-border-color;
  }
}

.error .ui-icon-input {
  border-color: $form-control-error-color;
  box-shadow: $form-control-error-shadow;

  .ui-form-control {
    box-shadow: none;
  }

  &:focus-within,
  &.active {
    border-color: $primary;
    box-shadow: $form-control-active-shadow;
  }
}
