@import "variables";

// need rewrite

html.layer-open {
  height: 100vh;
  overflow-y: hidden;
}

.layer-visible {
  background: rgba(0, 0, 0, 0.5);

  ~ .layer-visible {
    background: none;
  }
}

.ui-layer {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: opacity .3s;

  &.layer-visible {
    z-index: 1900;
    opacity: 1;
    visibility: visible;

    .layer-box {
      transform: translate(0, 0);
    }
  }

  .layer-box {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 640px;
    background: #fff;
    bottom: 0;
    transform: translate(100%, 0);
    transition: .3s;
  }

  .layer-close {
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 28px;
    width: 24px;
    height: 24px;
    line-height: 1;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: $gray;
  }

  .layer-title {
    height: 80px;
    line-height: 80px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 600;
  }

  .layer-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .layer-main {
    flex: 1;
    overflow-y: auto;
  }

  .layer-footer {
    height: 80px;
    padding: 24px 26px 0 130px;
    border-top: 1px solid $color-border;
  }
}
