@import "variables";


.ui-dl {
  display: table-row;
  table-layout: fixed;

  &.small {
    .dd,
    .dt {
      padding-top: $list-small-padding;
      padding-bottom: $list-small-padding;
    }
  }

  .dt {
    padding: $list-padding {
      left: 0;
    };
    color: $gray;
    display: table-cell;
    white-space: nowrap;
  }
  
  .dd {
    display: table-cell;
    padding-top: $list-padding;
    padding-bottom: $list-padding;
  }
}

