@import "variables";

.ui-menu,
.ui-select-dropdown {
  .menu-item {
    display: flex;
    height: $menu-height; // 32
    padding-left: $menu-padding; // 16
    padding-right: $menu-padding;

    line-height: $menu-height;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    align-items: center;
  
    /* states */ 
    &.active,
    &:hover {
      color: $black;
      background-color: rgba($primary, .06);
    }

    &.disabled {
      cursor: not-allowed;
      color: $gray;
    }

    &.disabled:hover {
      background: $white;
    }
  }

  label {
    user-select: none;
  }

  &.no-add .menu-item:not(.selected) {
    cursor: not-allowed;

    &:hover {
      background: $white;
    }
  }
}

.ui-select-dropdown {
  .menu-item {
    padding-left: $form-control-padding-h;
    padding-right: $form-control-padding-h;

    &.selected {
      background: $color-bg;
    }
  }
}

.ui-menu {
  padding-top: $menu-wrap-padding;
  padding-bottom: $menu-wrap-padding;
  border-radius: $menu-wrap-radius;

  box-shadow: $menu-shadow;
  border: $menu-border;
  background: $white;

  .menu-item.selected {
    position: relative;
  }

  .menu-item.selected:after {
    content: $icon-correct;
    position: absolute;
    @include iconfont;
    right: 12px;
    top: ($menu-height - 16px) / 2;
    color: $primary;
  }
}
