/* ----------------------------
            Mixin
   ---------------------------- */

@mixin iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, #fff, 50%), $radius: 30px) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  scrollbar-face-color: $foreground-color;
  scrollbar-track-color: $background-color;
}

@mixin colors ($color, $border-color, $bg-color) {
  color: $color;
  border-color: $border-color;
  background-color: $bg-color;
}
