@import "variables";

// need rewrite

/*
  .ui-modal
    .modal-box
      .modal-close
      .modal-title
        .modal-head
      .modal-content
        .modal-main
      .modal-footer
*/

.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

@include tablet {
  .modal-open {
    padding-right: 0;
  }
}

.ui-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($dark, 0.5);
  z-index: -1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: .3s;
  overflow-y: auto;

  &.modal-visible {
    z-index: 19000;
    opacity: 1;
    visibility: visible;
  }

  > * {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  }

  &:before {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
  }

  .modal-head {
    height: 80px;
    padding: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 18px;
  }

  .modal-box {
    min-height: $modal-min-height;
  }

  .resize-trigger {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-right-color: $color-bg;
    border-bottom-color: $color-bg;
    cursor: se-resize;
  }

  .modal-footer {
    padding: 24px;
    border-top: 1px solid $color-border;
    text-align: right;

    .ui-button {
      margin-left: 16px;
    }
  }
}

.modal-box {
  position: relative;
  width: $modal-width;
  max-width: $modal-max-width;
  border-radius: $modal-radius;
  background: $white;
  opacity: 0;
  visibility: hidden;
  animation-duration: .4s;
  animation-fill-mode: both;

  .modal-close {
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 28px;
    width: 24px;
    height: 24px;
    line-height: 1;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: $gray;
  }

  .icon-times:before {
    content: $modal-close-icon;
  }

  .modal-main {
    padding: 16px 24px;
  }
}

.modal-visible {
  .modal-box {
    z-index: 100;
    opacity: 1;
    visibility: visible;
  }
}

.ui-modal-confirm {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  text-align: center;

  &.modal-visible {
    opacity: 1;
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($dark, .5);
    z-index: 10;
  }

  > * {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  }

  &:before {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
  }

  .ui-confirm {
    padding: 16px 48px 16px 40px;
    display: inline-block;
    box-shadow: $shadow;
    border: solid 1px $color-border;
    background-color: $white;
  }
}

.ui-confirm {
  padding-left: 40px - 18px;

  &:before {
    @include iconfont;
    content: $icon-info;
    position: absolute;
    top: 20px;
    left: 16px;
    color: $yellow;
  }

  .modal-footer {
    padding: 16px 0 0;

    .ui-button {
      margin-right: 16px;
    }
  }

  .modal-content {
    line-height: 1.72;
  }

  .desc {
    color: $gray;
  }
}

.ui-alert {
  position: fixed;
  top: 56px + 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  line-height: 24px;
  font-size: 12px;
  z-index: 19000;
  animation: alertFadeInDown .4s forwards;
  transition: top .3s;

  .alert-content {
    padding: 8px 12px 8px 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: $alert-radius;
    box-shadow: $shadow;
    color: $alert-color;
  }

  .alert-content:before {
    content: '';
    @include iconfont;
    position: absolute;
    left: 12px;
    top: 13px;
  }

  .alert-success {
    border-color: $alert-success-border-color;
    background: $alert-success-bg;

    &:before {
      color: $green;
      content: $alert-success-icon;
      line-height: 1;
    }
  }

  .alert-warn {
    background: $alert-warn-bg;
    border-color: $alert-warn-border-color;

    &:before {
      color: $yellow;
      content: $alert-warn-icon;
      line-height: 1;
    }
  }
}

.fadeInDown {
  animation: fadeInDown .4s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes alertFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}

.modal-footer.handheld {
  height: auto;
  padding: 0;
  display: flex;

  .ui-button {
    background: none;
    width: 50%;
    height: $modal-handheld-footer-height;
    margin: 0;
    text-align: center;
    line-height: $modal-handheld-footer-height;
    border: 0 none;
    font-size: 16px;
    color: $gray;
    border-radius: 0;
  
    &:focus {
      outline: none;
    }

    + .ui-button {
      border-left: 1px solid $color-border;
    }
  }

  .modal-ok {
    font-weight: 500;
  }
}
