@import "variables";

// need rewrite

$padding: 30px;
$h-icon: 50px;
$svg-timing: .9s;

.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

.ui-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($dark, 0.5);
  z-index: -1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: .3s;
  overflow-y: auto;
  // display: none;

  &.modal-visible {
    z-index: 19000;
    opacity: 1;
    visibility: visible;
    // display: block;
  }

  > * {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  }

  &:before {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
  }

  .modal-head {
    height: 80px;
    padding: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 18px;
  }

  .modal-box {
    // min-width: 440px;
    min-height: 200px;
  }

  .resize-trigger {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-right-color: $color-bg;
    border-bottom-color: $color-bg;
    cursor: se-resize;
  }

  .modal-footer {
    padding: 24px;
    height: 80px;
    border-top: 1px solid $color-border;

    .ui-button {
      float: right;
      margin-left: 16px;
    }
  }
}

.modal-box {
  position: relative;
  max-width: 95%;
  border-radius: 8px;
  background: $color-white;
  opacity: 0;
  visibility: hidden;
  animation-duration: .4s;
  animation-fill-mode: both;
  //overflow-y: auto;

  .modal-close {
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 28px;
    width: 24px;
    height: 24px;
    line-height: 1;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: $gray;
  }

  .modal-main {
    padding: 16px 24px;
  }
}

.modal-visible {
  .modal-box {
    z-index: 100;
    opacity: 1;
    visibility: visible;
  }
}

.ui-modal-confirm {
  visibility: hidden;
  opacity: 0;
  position: fixed;

  &.modal-visible {
    opacity: 1;
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($dark, .5);
    z-index: 10;
  }

  .ui-confirm {
    position: fixed;
    padding: 16px 48px 16px 40px;
    // width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    box-shadow: $shadow;
    border: solid 1px $color-border;
    background-color: $white;
  }
}

.ui-confirm {
  padding-left: 40px - 18px;

  &:before {
    @include iconfont;
    content: '\eb1d';
    position: absolute;
    top: 20px;
    left: 16px;
    color: $yellow;
  }

  &.fadeInDown {
    animation-name: alertFadeInDown;
  }

  .modal-footer {
    padding: 16px 0 0;

    .ui-button {
      margin-right: 16px;
    }
  }

  .modal-content {
    line-height: 1.72;
  }

  .desc {
    color: $gray;
  }
}

.ui-alert {
  position: fixed;
  top: 56px + 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  line-height: 24px;
  font-size: 12px;
  z-index: 19000;
  animation-name: alertFadeInDown;
  animation-duration: .4s;
  animation-fill-mode: both;
  transition: top .3s;

  .alert-content {
    padding: 8px 12px 8px 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: $shadow;
  }

  .alert-content:before {
    content: '';
    @include iconfont;
    position: absolute;
    left: 12px;
    top: 13px;
  }

  .alert-success {
    border-color: $alert-success-border-color;
    background: $alert-success-bg;

    &:before {
      color: $green;
      content: '\eb09';
      line-height: 1;
    }
  }

  .alert-warn {
    background: $alert-warn-bg;
    border-color: $alert-warn-border-color;

    &:before {
      color: $yellow;
      content: '\eb1d';
      line-height: 1;
    }
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes alertFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}


