@import "variables";

.ui-notice {
  padding: 8px 184px 8px 36px;
  position: relative;

  font-size: $notice-font-size;
  line-height: 24px;
  
  border-radius: $notice-radius;
  border: 1px solid $notice-border-color;
  background: $notice-bg;

  &:before {
    content: $notice-icon;
    position: absolute;
    left: 12px;
    top: 12px;
    @include iconfont;
    color: $primary;
  }

  &.small {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    line-height: 16px;

    &:before {
      top: 8px;
    }
  }

  &.line {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 16px;
    padding-right: 16px;
    border-radius: 0;
    border: 0 none;

    &:before {
      top: 8px;
    }
  }

  &.warn {
    border-color: $notice-warn-border-color;
    background: $notice-warn-bg;

    &:before {
      color: $yellow;
    }
  }

  &.error {
    border: solid 1px $notice-error-border-color;
    background-color: $notice-error-bg;

    &:before {
      content: $notice-error-icon;
      color: $red;
    }
  }

  .icon-times {
    position: absolute;
    right: 12px;
    top: 11px;
    font-size: 18px;
    line-height: 1;
    color: $gray;
    cursor: pointer;
  }
}
