@import "variables";

// pagination
$h: 34px;
$h-small: 26px;

.ui-pagination {
  display: flex;
  line-height: $h;

  .iconfont {
    line-height: 1;
    font-size: 16px;
  }

  .page,
  .text,
  .total,
  form {
    display: inline-block;
    vertical-align: middle;
  }
 
  .text {
    padding-left: 8px;
    padding-right: 8px;
    line-height: $h;
  }

  span {
    cursor: default;
  }

  .page {
    height: $h;
    width: $h;
    margin-right: 12px;
    color: #333;
    border-radius: 4px;
    border: 1px solid $light;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.disabled,
    &.disabled:hover {
      border-color: rgba($light, .5);
      color: $gray;
    }
  } 

  .page:hover,
  .active {
    color: $primary;
    border-color: $primary;

    &:hover {
      color: $primary;
    }
  }

  form {
    display: inline-block;
  }

  .ui-control-wrap {
    display: inline-block;
    width: 94px;
    vertical-align: middle;
    margin-right: 8px;

    select {
      display: block;
    }
  }

  .ui-select {
    width: 94px;
  }

  .w94 {
    width: 94px;
  }

  input.ui-form-control {
    width: 32px;
    height: $h;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
  }

  .page-label {
    position: relative;
    display: inline-block;
    margin-right: 8px;

    .text {
      position: absolute;
      right: 5px;
      top: 2px;
    }
  }

  &.small {
    font-size: 12px;

    .page {
      height: $h-small;
      width: $h-small;
      border: 1px solid transparent;
      margin-right: 0;
      color: $primary;
    }

    .iconfont {
      color: $gray;
    }
    
    .active {
      border: 1px solid $primary;
    }

    .page:hover,
    .active {
      color: rgba($primary, .8);
    }

    .disabled,
    .disabled:hover {
      border: 0 none;
      color: $light;
    }

    .disabled .iconfont {
      color: $light;
    }

    input {
      width: 42px;
      height: $h-small;
      min-height: $h-small;
    }

    .ui-button {
      padding: 0 8px;
      line-height: $h-small;
    }

    .text {
      line-height: $h-small;
    }
  }
}


