@import "variables";

%tip {
  position: absolute;
  padding: $popup-padding;

  border: 1px solid $color-border;
  border-radius: $popup-radius;
  box-shadow: $shadow;
  background-color: $white;

  z-index: 100;
}

%tip-text {
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $black;
  word-break: break-all;
}

.ui-tooltip {
  display: inline-block;
  max-width: $tooltip-max-width;
  
  @extend %tip;
  @extend %tip-text;

  padding: $tooltip-padding;
  border-radius: $tooltip-radius;
  
  z-index: 9900;
  animation: fade-in-down $transition-duration both;
  
  &.normal {
    font-size: 14px;
    line-height: 24px;
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.ui-title-tip[data-title] {
  &:after {
    content: attr(data-title);
    max-width: $tooltip-max-width;
    width: auto;

    @extend %tip;
    @extend %tip-text;

    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &:hover:after {
    display: block;
    z-index: 10;
    animation: tip .1s .1s forwards;
  }
}

.ui-popper {
  left: 0;
  top: 0;

  @extend %tip;

  &:focus {
    outline: none;
  }

  &.small {
    padding: 4px 8px;
    font-size: 12px;
    white-space: nowrap;
  }
}

.ui-popper.dark,
.ui-tooltip.dark {
  background: rgba($dark, .8);
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba($dark, .2);
  color: $white;
  border: 0 none;
}

.ui-popper-wp {
  position: relative;

  .ui-popper {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
  }

  &:hover {
    .ui-popper {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes tip {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
