@import "variables";


// popup
.ui-tooltip {
  display: inline-block;
  position: absolute;
  padding: $popup-padding;
  max-width: 274px;
  
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $black;
  word-break: break-all;
  
  border-radius: $popup-radius;
  box-shadow: $shadow;
  border: solid 1px $color-border;
  background-color: #fff;
  
  z-index: 9900;
  
  
  animation: fade-in-down $transition-duration both;
  
  &.normal {
    font-size: 14px;
    line-height: 24px;
  }

  // &.center {
  //   transform: translateX(-50%);
  // }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.ui-popper {
  position: absolute;
  left: 0;
  top: 0;
  padding: $popup-padding;
  background: $white;
  border: 1px solid $color-border;
  border-radius: $popup-radius;
  box-shadow: $shadow;

  &:focus {
    outline: none;
  }
}

.ui-popper-wp {
  position: relative;
}
