@import "variables";

// progress
.ui-progress {
  position: relative;
  height: 4px;
  width: 100%;
  vertical-align: middle;
  border-radius: 2px;
  background: $color-bg;

  .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    border-radius: 2px;
    background: $green;
    transition: width $transition-duration;
  }
}
