@import "variables";

.ui-slider-wrap {
  cursor: pointer;

  input[type="range"] {
    display: none;
  }
}

.ui-slider {
  display: inline-block;
  height: $range-height;
  width: $range-width;

  vertical-align: middle;

  .bar {
    height: $range-height;
    position: relative;

    border-radius: $range-height / 2;
    background: $color-bg;
  }

  .rate {
    height: $range-height;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $range-height / 2;
    background: $primary;
    z-index: 2;
  }

  .btn {
    position: absolute;
    box-sizing: border-box;
    height: $range-btn-size;
    width: $range-btn-size;
    right: -$range-btn-size / 2;
    top: ($range-height / 2) - ($range-btn-size / 2);

    border-radius: 50%;
    border: 1px solid $color-border;
    cursor: pointer;
    background: $white;
    box-shadow: $shadow;
  }

  .negative-rate {
    position: absolute;
    left: 0;
    top: 0;
    height: $range-height;
    background: $color-bg;
    width: 100%;
  }

  .negative {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: $range-height;
    background: $primary;
  }
}

// pure css
.ui-range:focus {
  outline: none;
}

/* chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .ui-range {
    -webkit-appearance: none;
    width: $range-width;
    background: $color-bg;
    height: $range-height;
    border-radius: $range-height / 2;
  }
}


.ui-range::-webkit-slider-runnable-track {
  width: 100%;
  height: $range-height;
  border-radius: $range-height / 2;
  cursor: pointer;
}

.ui-range::-webkit-slider-thumb {
  border: 1px solid $color-border;
  height: $range-btn-size;
  width: $range-btn-size;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

/* ff */
.ui-range::-moz-range-track {
  width: 100%;
  height: $range-width;
  cursor: pointer;
  border-radius: $range-width / 2;
}

.ui-range::-moz-range-thumb {
  border: 1px solid $color-border;
  height: $range-btn-size;
  width: $range-btn-size;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
}

/* ie 10 + */
.ui-range::-ms-track {
  width: 100%;
  height: $range-height;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.ui-range::-ms-fill-lower {
  border-radius: 10px;
  background: $primary;
}

.ui-range::-ms-fill-upper {
  background: $color-bg;
  border-radius: 10px;
}

.ui-range::-ms-thumb {
  height: $range-btn-size - 2px;
  width: $range-btn-size - 2px;
  border-radius: 50%;
  background: $white;
  border: 1px solid $color-border;
  cursor: pointer;
}
