body, 
div, 
dl, 
dt, 
dd, 
ul, 
ol, 
li, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
pre, 
code, 
form, 
fieldset, 
legend, 
input, 
textarea, 
p, 
blockquote, 
th, 
td, 
hr, 
button, 
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
  margin: 0;
  padding: 0;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}

audio, 
canvas, 
video {
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

abbr, 
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

ol,
ul {
  list-style: none;
}

ins,
a {
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

.layout:after,
.clf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '.';
  clear: both;
  height: 0;
}

.layout,
.clf {
  zoom: 1;
}

.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// from normalize.css
// scss-lint:disable all
/**
 * Remove the gray background on active links in IE 10.
 */

 a {
  background-color: transparent;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
}
