@import "variables";


$icon-top: ($menu-height - 16px) / 2;

.ui-select {
  height: $form-control-height;
  position: relative;
  
  background: #fff;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  select {
    display: none;
  }

  // arrow
  &:before {
    content: "\eb3f";
    font-family: "iconfont";
    position: absolute;
    right: 10px;
    top: 0;
    line-height: $form-control-height - 2px;
    font-size: 16px;
    transition: $transition-duration;
    color: $gray;
  }

  /* types */
  &.clearable {
    .icon-clean {
      display: none;
    }
  }

  &.clearable:hover {
    .icon-clean {
      position: absolute;
      right: 10px;
      
      color: $light;
      line-height: 1;
      font-size: 18px;
      top: 50%;
      background: #fff;
      transform: translateY(-50%);
      display: block;
    }
  }

  &.multiple {
    white-space: normal;
    height: auto;
    padding: 5px 6px 1px;
    min-height: $form-control-height;
    
    line-height: $form-control-height - $form-control-padding-v * 2 - 2px;
    display: flex;
    flex-wrap: wrap;

    &:before {
      display: none;
    }

    // ??? 
    .ft-gray {
      line-height: 24px;
    }

    .ui-tag {
      margin-right: 6px;
      margin-bottom: 4px;
    }

    .select-empty {
      padding-left: 6px;
    }
  }

  &.enterable {
    display: flex;

    .select-input {
      flex: 1 1;
      min-width: 50px;
      height: 22px;
      padding-left: 6px;
      margin-bottom: 4px;
      
      border: 0 none;
      font-size: $font-size;
    }

    .select-input:focus {
      outline: none;
    }
  }
}

select.ui-select {
  // reset select style
  appearance: none;
  color: $light;
  background-image: url(https://img-i.gcimg.net/2020/0409/lzims0ak34t1rchd011816.png);
  background-size: 16px;
  background-position: right 10px center;
  background-repeat: no-repeat;

  &::-ms-expand { 
    // for ie
    display: none; 
  }

  &[multiple] {
    background-image: none;

    &:before {
      display: none;
    }
    
    optgroup,
    option {
      display: none;
    }
  }
}

.ui-select-active {
  border-color: $primary;
  box-shadow: 0 0 0 3px rgba($primary, .1);

  &:before {
    transform: rotate(180deg);
  }
}

.ui-select-dropdown {
  display: inline-block;
  // width: 160px;
  left: 0;
  margin-top: 4px;
  
  font-size: $font-size;
  white-space: nowrap;
  border-radius: $radius;
  
  transform-origin: center top;
  transition: transform $transition-duration, opacity $transition-duration, visibility $transition-duration;
  
  border: solid 1px $color-border;
  background: #fff;

  // states
  &.hide {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    height: 0;
    overflow: hidden;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    height: auto;
    box-shadow: $shadow;
  }

  // dropdown content
  .select-main {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: $select-drop-height;
  }

  // search input
  // delete
  .select-search {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;

    .ui-form-control {
      width: 100%;
    }
  }

  .li-empty {
    height: 32px + 136px;
    line-height: 32px;
    color: $gray;
    text-align: center;
  }

  // ul list
  // menu style
  .select-ul {
    padding-top: $menu-wrap-padding;
    padding-bottom: $menu-wrap-padding;
  }

  // multiple select
  &.multiple:not(.checkable) {
    .selected {
      position: relative;
    }

    .selected:after {
      content: '\eb31';
      position: absolute;
      @include iconfont;
      right: 12px;
      top: $icon-top;
      color: $primary;
    }

    .ui-tag {
      max-width: 260px;
    }
  }

  // tree structure
  // need rewrite
  &.group {
    .select-main > .menu-item {
      padding-left: 36px;
    }
  }

  .group-label {
    padding-left: 12px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;

    .iconfont {
      float: left;
      width: 20px;
      height: 32px;
      text-align: center;
      transition: .2s;
    }

    &:hover {
      background-color: rgba($primary, .06);
    }
  }

  .group-ul {
    display: none;

    .menu-item {
      padding-left: 36px;
    }
  }

  .icon-caret-right {
    margin-right: 4px;
    color: $gray;
  }

  .expend {
    .icon-caret-right {
      transform: rotate(90deg);
    }

    + .group-ul {
      display: block;
    }
  }

  // checkbox
  .label-item {
    padding-right: 0;

    label {
      display: block;
    }
  }

  .group-ul .label-item { // scss-lint:disable MergeableSelector
    padding-left: 59px;
  }

  /* Cascader */
  &.menu-group {
    width: auto !important;
    border-radius: $radius;
    border: 1px solid $color-border;
    background: #fff;
    display: flex;

    ul {
      padding-top: $menu-wrap-padding;
      padding-bottom: $menu-wrap-padding;
      width: 160px;
      border: 0 none;
      border-radius: 0;
      border-right: 1px solid $color-border;
    }

    ul:first-child {
      border-left: 0;
      border-top-left-radius: $menu-wrap-radius;
      border-bottom-left-radius: $menu-wrap-radius;
    }

    ul:last-child {
      border-right-color: #fff;
      border-top-right-radius: $menu-wrap-radius;
      border-bottom-right-radius: $menu-wrap-radius;
    }

    .menu-item {
      position: relative;
    }

    .menu-item:after {
      content: '\eb3d';
      @include iconfont;
      position: absolute;
      right: 12px;
      top: $icon-top;
      color: $gray;
    }

    .menu-item[data-last]:after {
      display: none;
    }
  }

  &.normal-group {
    width: auto;
    line-height: 1;
    display: block;

    ul {
      width: 160px;
      margin-right: 10px;
      height: 172px;
      max-height: 172px;
      display: inline-block;
      vertical-align: top;
    }
  }
}


// ??? 
.ui-control-group {
  display: inline-flex;

  .ui-form-control,
  .ui-select {
    border-radius: 0;
  }

  .ui-control-wrap:hover {
    z-index: 1;
  }

  .ui-control-wrap:first-child {
    .ui-form-control {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
  }

  .ui-control-wrap:last-child {
    .ui-form-control {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  .ui-control-wrap + .ui-control-wrap {
    margin-left: -1px;
  }

  .ui-select-active {
    z-index: 1;
  }
}

/* scrollbar */
.select-main::-webkit-scrollbar {
  width: 6px;
}

.select-main::-webkit-scrollbar-thumb {
  background: $color-border;
  border-radius: 30px;
}
