@import "variables";

// slider
$h: 4px;

.ui-slider-wrap {
  cursor: pointer;
}

.ui-slider {
  display: inline-block;
  width: 200px;
  height: $h;
  vertical-align: middle;

  .bar {
    height: $h;
    position: relative;
    border-radius: $h / 2;
    background: $color-bg;
  }

  .rate {
    height: $h;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $h / 2;
    background: $primary;
  }

  .btn {
    position: absolute;
    height: 20px;
    width: 20px;
    right: -10px;
    top: -8px;
    border-radius: 50%;
    background: $primary;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover .ui-tooltip {
      display: block;
    }
  }

  .ui-tooltip {
    //display: none;
    position: absolute;
    top: -30px;
    padding: 4px 9px;
    left: -3px;
  }
}

