@import "variables";


$btn-size: $switch-height - ($switch-padding * 2);

// switch
.ui-switch {
  display: inline-flex;
  align-items: center;

  input {
    display: none;
  }

  .switch {
    position: relative;
    height: $switch-height;
    width: $switch-width;
    padding: $switch-padding;
    
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    
    border-radius: 50%;
    background: $switch-background;
    cursor: pointer;
    transition: background $transition-duration;
  }

  .open {
    padding-left: 8px;
    display: none;
  }

  .close {
    padding-left: 8px;
  }

  .switch:before {
    content: '';
    height: $btn-size;
    width: $btn-size;
    position: absolute;
    left: $switch-padding;
    top: $switch-padding;
    
    border-radius: 50%;
    background: $color-white;
    transition: left $transition-duration;
  }

  input:checked + .switch {
    background: $primary;
  }

  input:checked + .switch:before {
    left: 14px;
  }

  input:checked ~ .open {
    display: inline;
  }

  input:checked ~ .close {
    display: none;
  }

  input:disabled + .switch {
    cursor: default;
    background: $color-border;
  }

  input:disabled + .switch:before {
    background: $light;
  }

  input:disabled:checked + .switch {
    background-color: rgba($primary, .5);
  }

  input:disabled:checked + .switch:before {
    background: #fff;
  }
}
