@import "variables";

// ui-mod ???
.ui-mod {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid $color-border;
}


.ui-tab {
  font-size: $tab-font-size;
  font-weight: $tab-font-weight;
  line-height: $tab-height;

  .tab-list {
    display: flex;
  }

  .tab-itm {
    margin-right: 24px;
  }

  .itm {
    color: $tab-color;
  }

  .active {
    font-weight: 600;

    a {
      color: $primary;
    }
  }

  &.line {
    font-size: 14px;
    border-bottom: $border;

    .tab-itm {
      padding-bottom: 8px;
      font-weight: 600;
    }

    .active {
      position: relative;
    }

    .active:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -1px;
      left: 0;
      height: 2px;
      background: $primary;
    }
  }

  /* Sizes */ 

  &.small {
    font-size: $tab-small-font-size;  
    font-weight: 400;

    .tab-list {
      display: inline-flex;
    }

    .tab-itm {
      margin-right: -1px;
      height: $tab-small-height;
      line-height: $tab-small-height - 2px;
      border: 1px solid $tab-border;
    }

    .itm {
      display: block;
      padding-left: $tab-small-padding;
      padding-right: $tab-small-padding;
    }

    .tab-itm:first-child {
      border-radius: $radius 0 0 $radius;
    }

    .tab-itm:last-child {
      border-radius: 0 $radius $radius 0;
    }

    .active {
      position: relative;
      z-index: 1;
      font-weight: 400;
      border-color: $primary;
    }
  }
}

.ui-tab-content .tab-content:not(.show) {
  display: none;
}
