// table

.ui-table {
  width: 100%;
  border: 0;
  line-height: 1.43;

  .icon-checkbox {
    font-size: 16px !important;
  }

  th {
    padding-left: $table-padding-h;
    height: $table-head-height;
    font-size: 12px;
    background: $color-bg;
    font-weight: 600;

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child {
      border-radius: 0 $radius $radius 0;
    }

    .iconfont {
      font-weight: 400;
    }
  }

  td {
    padding: $table-padding-v $table-padding-h;
    position: relative;
    border-bottom: 1px solid $color-border;
    transition: background $transition-duration;

    &.ui-empty {
      border-bottom: 0 none;
    }
  }

  &.small {
    td {
      padding: $table-small-padding-v $table-padding-h;
    }
  }

  &.mini {
    td {
      font-size: 12px;
      line-height: 1.33;
    }
  }

  tr:hover td:not(.ui-empty) {
    background: rgba($primary, .06);
  }
}
