@import "variables";

// table
$h: 40px;

.ui-table {
  width: 100%;
  border: 0;
  line-height: 1.43;

  .icon-checkbox {
    font-size: 16px !important;
  }

  th {
    padding-left: 16px;
    height: $h;
    font-size: 12px;
    background: #f5f5f5;
    font-weight: 600;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    .iconfont {
      font-weight: 400;
    }
  }

  td {
    padding: 16px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    transition: background $transition-duration;

    &.ui-empty {
      border-bottom: 0 none;
    }
  }

  &.small {
    td {
      padding: 12px 16px;
    }
  }

  &.mini {
    td {
      font-size: 12px;
      line-height: 1.33;
    }
  }

  tr:hover td:not(.ui-empty) {
    background: rgba($primary, .06);
  }
}
