@import "variables";

.ui-tag {
  display: inline-block;
  height: $tag-height;
  max-width: $tag-max-width;
  padding: 0 $tag-padding;

  vertical-align: middle;
  line-height: $tag-height;
  font-size: $tag-font-size;
  color: $black;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  border-radius: $tag-radius;
  background: $color-bg-normal;
  

  &.closeable,
  &[data-closeable] {
    position: relative;
    padding-right: 20px;

    .icon-times {
      position: absolute;
      right: 4px;
      top: 0;
    }
  }

  .icon-times {
    margin-left: 4px;
    color: $gray;
    cursor: pointer;
    font-size: 12px;
  }

  /* Color */ 
  
  &.green {
    color: $white;
    background: $green;
  }

  &.yellow {
    color: $white;
    background: $yellow;
  }

  &.violet {
    color: $white;
    background: $violet;
  }

  &.blue {
    color: $white;
    background: $primary;
  }

  &.gray {
    height: $tag-height + 2px;
    border: 1px solid $light; 
  }

  &.cus {
    height: $tag-height + 2px;
    color: $green;
    border: solid 1px rgba($green, 0.2);
    background-color: rgba($green, 0.06);
  }

  &.sys {
    height: $tag-height + 2px;
    color: $primary;
    border: solid 1px rgba($primary, 0.2);
    background-color: rgba($primary, 0.06);
  }

  &.white {
    height: $tag-height + 2px;
    background: $white;
    border: 1px solid $color-border;
  }
}
