@import "variables";

.ui-tree {
  .node-label,
  .tree-group {
    // padding-left: 24px;
  }

  .tree-node:not(.active) .node-label:hover {
    background: rgba($primary, .06);
    color: $primary;
  }

  .active,
  .active:hover {
    color: $primary;
    background: $color-bg;

    .node-label {
      color: $black;
    }
  }

  &.checkable {
    // padding-left: 24px;
    
    .node-trigger:before {
      // position: absolute;
      // left: 0;
    }

    .node-label:not(.transfer-title):hover {
      background: rgba($primary, .06);
      color: $primary;
    }

    .active,
    .active:hover {
      color: $primary;
      background: $color-bg;

      .node-label {
        color: $black;
      }
    }
  }

  .node-label {
    display: flex;
    align-items: flex-start;
    height: 32px;
    line-height: 32px;
    overflow: hidden;

    // label {
    //   flex: 1;
    // }
  }

  .node-trigger {
    cursor: pointer;
    position: relative;
    // margin-left: -24px;

    label {
      flex: 0 0 auto;
    }

    &:before {
      content: '\eb36';
      color: $gray;
      @include iconfont;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      width: 16px;
      margin-right: 8px;
    }

    ~ .tree-node,
    ~ .tree-group {
      display: none;
    }
  }

  .expend {
    &:before {
      transform: rotate(90deg);
      transform-origin: center;
    }

    ~ .tree-node,
    ~ .tree-group {
      display: block;
    }
  }
}

