@import "variables";

.ft-primary {
  color: $primary;

  &.disabled {
    color: rgba($primary, .5);
  }
}

a.ft-primary,
.ft-link.ft-primary {
  &:hover {
    color: rgba($primary, 0.8);
  }
}

.ft-link.ft-primary:hover .iconfont.ft-gray {
  color: $primary;
}

.ft-warn,
.ft-yellow {
  color: $yellow;
}

.ft-error,
.ft-red {
  color: $red;
}

.ft-success,
.ft-green {
  color: $green;
}

.ft-black {
  color: $black;
}

.ft-gray {
  color: $gray;
}

.ft-light {
  color: $light;
}

.ft-center {
  text-align: center;
}

.ft-right {
  text-align: right;
}

.ft-left {
  text-align: left;
}

.ft-link {
  cursor: pointer;
}

.ft-middle {
  vertical-align: middle;
}

.ft-rmb {
  font-family: arial, sans-serif;
}



.ft-12 {
  font-size: 12px; 
  line-height: 1.34;
}

.ft-h1 {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
}

.ft-h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.34;
}

.ft-h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.72;
}

.ft-h4 {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
}

.line[class*=ft-h] {
  border-bottom: 1px solid $color-border;
}

.ui-empty {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: $light;

  .icon-empty {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 1;
  }
}

.ui-feedback {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  
  .iconfont {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 8px;
  }
  
  .tit {
    margin-bottom: 24px;
    font-weight: 600;
  }

  .con {
    margin: 0 auto 24px;
    max-width: 400px;
  }

  .ui-button {
    margin: 0 8px;
  }
}



.bg-primary {
  background: $primary;
}

.bg-yellow {
  background: $yellow;
}

.bg-red {
  background: $red;
}

.bg-green {
  background: $green;
}

.bg-black {
  background: $black;
}

.bg-gray {
  background: $gray;
}

.bg-light {
  background: $light;
}

.bg-border {
  background-color: $color-border;
}

.bg-bg {
  background: $color-bg;
}

.bg-hover {
  background: $color-bg-hover;
}

.bg-normal {
  background: $color-bg-normal;
}

.bg-disabled {
  background: $color-bg-disabled;
}

