// color system

// new
$black: #333 !default; // 51, 51, 51
$gray: #8c8c8c !default; // 140, 140, 140
$light: #ccc !default; // 204, 204, 204
$primary: #007adf !default; // 0,122,223
$green: #00b08c !default; // 0, 176, 140
$red: #f55959 !default;  // 245, 89, 89
$yellow: #faab4d !default; // 250, 171, 77
$violet: #ac64f1 !default;

$color-white: #fff !default;
$color-border: #e0e6ed !default; // 224, 230, 237
$color-bg: #f7f9fa !default;

$color-bg-disabled: #f1f4f7 !default;
$color-bg-normal: #e8edf2 !default;

$border: 1px solid $color-border;

$font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif !default;

$radius: 4px !default;

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !default;

$transition-duration: .2s !default;

@mixin iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

// tag
$tag-height: 22px !default;
$tag-padding: 5px !default;
$tag-max-width: 308px !default;

// form
$form-control-height: 36px !default;
$form-control-width: 322px !default;
$form-control-radius: $radius !default;
$form-control-padding-h: 12px !default;
$form-control-padding-v: 4px !default;

$form-placeholder-color: $light !default;

$form-control-error-color: $red !default;
$form-control-error-shadow: 0 0 0 3px rgba($red, .1) !default;

$form-control-active-shadow: 0 0 0 3px rgba($primary, 0.1);

$form-control-border-color: $color-border !default;
$form-control-disable-bg: $color-bg-disabled !default;
$form-control-normal-bg: $color-bg-normal !default;

// button
$button-height: 36px !default;
$button-small-height: 26px !default;
$button-radius: $radius !default;
$button-padding: 24px !default;
$button-small-padding: 8px !default;
$button-border-width: 0 !default;
$button-border-type: solid !default;

// pagination
$page-height: 36px !default;
$page-height-small: 26px !default;
