<!DOCTYPE html>
<html lang="zh-cn">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page-wrap page-layout">
    <div class="page-side">
      {% include nav.html %}
    </div>
    <div class="page-main">
      <main class="main ui-row" aria-label="content">
        
        <div class="page-code">
          {{content}}
        </div>
        <div class="page-menu-wrap">
          <div class="page-menu">
            <div class="page-need-css"></div>
            {% if page.need_js %}
            <div class="page-need-js"></div>
            {% endif %}
            <div class="page-menu-list"></div>
          </div>
        </div>
      </main>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>