// note
// 删除 ui-rate
// 新增checkbox 从form单独分离了 还有input enter count


/* ============================
            base
   ============================ */

/* ------- front colors ------- */

$color-base: #fafbfc;

$primary: #007adf;

/* ============================
            Components
   ============================ */

/* ------- form ------- */

/* Basic */ 
/* Form control */
$form-control-height: 36px;

/* ------- Button ------- */

$button-height: 36px;
$button-border-width: 0;


/* ------- Tag ------- */

$tag-height: 22px;
