// note
// 删除 ui-rate
// 新增checkbox 从form单独分离了 还有input enter count


$color-base: #fafbfc;

$primary: #007adf;

/* ------- form ------- */

$form-control-height: 36px;

/* ------- Button ------- */

$button-height: 36px;
$button-border-width: 0;

/* ------- Tag ------- */

$tag-height: 22px;
