@import "components/variables";

@import 'components/reset';
@import "components/global";
@import "components/typography";
@import "components/badge";
@import "components/button";
@import "components/breadcrumb";
@import "components/dropdown";
@import "components/modal";
@import "components/notice";
@import "components/popup";
@import "components/rate";
@import "components/switch";
@import "components/tab";
@import "components/table";
@import "components/upload";
@import "components/form";
@import "components/input";
@import "components/select";
@import "components/steps";
@import "components/tag";
@import "components/menu";
@import "components/tree";
@import "components/c-pikaday";
@import "components/grid";
@import "components/toast";

.w240 {
  width: 240px;
}

.w320 {
  width: 320px;
}
