@import "components/variables";
@import 'components/reset';
@import "components/global";

@import "components/typography";
@import "components/badge";
@import "components/breadcrumb";
@import "components/dropdown";
@import "components/modal";
@import "components/layer";
@import "components/notice";
@import "components/pagination";
@import "components/popup";
@import "components/progress";
@import "components/tab";
@import "components/table";

@import "components/form";
@import "components/upload";
@import "components/input";
@import "components/select";
@import "components/switch";
@import "components/checkbox";
@import "components/button";

@import "components/steps";
@import "components/tag";
@import "components/menu";
@import "components/tree";
@import "components/transfer";
@import "components/grid";
@import "components/list";
@import "components/timeline";
    
.w160 {
  width: 160px !important;
}

.w240 {
  width: 240px;
}
 
.w320 {
  width: 320px;
}
