// note

$color-base: #fafbfc;

/* ------- form ------- */

$form-control-height: 34px;

/* ------- Button ------- */

$button-height: 34px;
$button-border-width: 0;

/* ------- Tag ------- */

$tag-height: 22px;

$primary: #577bf9;
