// note

$color-base: #fafbfc;

/* ------- form ------- */

$form-control-height: 36px;

/* ------- Button ------- */

$button-height: 36px;
$button-border-width: 0;

/* ------- Tag ------- */

$tag-height: 22px;
